<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card text-xs-center">
    <%= link_to image_tag(product.image_url, class: "card-img-top"), product %>
    <div class="card-block">
      <%= link_to product do %>
        <h4 class="card-title"><%= product.name %></h4>
      <% end %>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text"><strong>Color: </strong><%= product.color %></p>
      <p class="card-text"><strong>Price: </strong><%= number_to_currency(product.price) %></p>
    </div>
    <div class="card-block">
      <% if user_signed_in? && current_user.admin %>
      <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-success btn-sm' %>
      <%= link_to 'Destroy', product, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div> <!-- /card -->
</div> <!-- /col-sm-4 -->
