<!DOCTYPE html>
<html>
<head>
  <title>Fuji Fanatics</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
  integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= action_cable_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Begin Nav -->
<nav class="navbar navbar-full navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <%= link_to "Fuji Fanatics", root_path, class: "navbar-brand", id: "logo" %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path, class: "nav-item nav-link" %></li>
      <li><%= link_to "About", about_path, class: "nav-item nav-link" %></li>
      <li><%= link_to "Shop", products_path, class: "nav-item nav-link" %></li>
      <li><%= link_to "Contact", contact_path, class: "nav-item nav-link" %></li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-item nav-link") %>
        <% else %>
            <%= link_to('Login', new_user_session_path, class: "nav-item nav-link") %>
            <%= link_to('Sign Up', new_user_registration_path, class: "nav-item nav-link") %>
        <% end %>
      </li>
    </ul>
  </div> <!-- /collapse -->
  <!-- Add Search field -->
  <%= form_tag("/products", method: "get", class: "form-inline pull-xs-right") do %>
    <%= label_tag(:q, "Search for:", class: "invisible") %>
    <%= text_field_tag(:q, "", placeholder: "Search", class: "form-control") %>
    <%= submit_tag("Search", class: "btn btn-primary-outline") %>
  <% end %>
</nav> <!-- /nav -->

<!-- Add Alerts -->
<%if alert %>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= alert %>
</div>
<% end %>
<%if notice %>
<div class="alert alert-info alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= notice %>
</div>
<% end %>

<!-- Begin individual page content -->
<div class="content">
  <%= yield %>
</div>
<!-- /individual page content -->

<!-- Begin Footer Area -->
<footer class="container-fluid">
  <div class="container-fluid">
    <div class="row big-footer">
      <div class="col-md-4 col-xs-12 text-xs-center footer-col">
        <h5 class="text-muted">NAVIGATION</h5>
        <nav class="nav nav-inline">
          <a class="nav-link" href="#">Our Story</a>
          <a class="nav-link" href="#">T&Cs</a>
          <a class="nav-link" href="#">Delivery</a>
        </nav>
      </div>
      <div class="col-md-4 col-xs-12 text-xs-center footer-col">
        <h5 class="text-muted">JOIN OUR MAILING LIST</h5>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Enter Your Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Your Email Address">
          </div>
          <button type="submit" class="btn btn-primary">Join</button>
        </form>
      </div>
      <div class="col-md-4 col-xs-12 text-xs-center">
        <h5 class="text-muted">CONNECT WITH US</h5>
        <nav class="nav nav-inline">
          <a class="nav-link fa fa-facebook-official fa-2x" href="#"></a>
          <a class="nav-link fa fa-instagram fa-2x" href="#"></a>
          <a class="nav-link fa fa-twitter-square fa-2x" href="#"></a>
        </nav>
      </div>
    </div>
    <div class="row small-footer">
      <div class="col-md-12 text-xs-center text-muted">
      <p>Copyright &copy; 2016 Fuji Fanatics | All images courtesy of <a href="https://www.fujifilm.eu/uk">FUJIFILM Europe GmbH</a></p>
      </div>
    </div>
  </div>
</footer> <!-- /footer area -->

<!-- JavaScript and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/dd85124ea4.js"></script>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
